<div  class="text-danger">
<% if flash[:alert].present? %>
    <%= flash[:alert] %>
<% end %>
</div>

<% if @user && @user.errors.any? %>
    <ul  class="text-danger" >
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </ul>
<% end %>